.card {
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 20px 62px -25px #000;
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.03);
    }

    figure {
        height: 300px;
        width: 400px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }

    img {
        transition: all 0.3s linear;

        &:hover {
            transform: scale(1.2);
        }
    }

    .card-body {
        padding: 20px 20px;
    }

    h2 {
        margin-bottom: 10px;
    }

    .btn {
        margin-top: 20px;
        padding: 10px 15px;
        background-color: goldenrod;
        border: 1px solid transparent;
        border-radius: 10px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            transform: scale(1.05);
        }
    }
}