// Header
@use './_Header.scss';
// MainCard
@use './_MainCard.scss';
// Variabili
@use './_vars.scss' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poetsen One", sans-serif;
}

img {
    max-width: 100%;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: $white;
}

html::-webkit-scrollbar-thumb {
    background: $dark-gray;
}